<!DOCTYPE html>
<html>
  <head>
    <title>Vegge ecomm</title>
  </head>
  <body>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    {{{body}}}
    <!-- JavaScript Bundle with Popper -->
    {{!-- <script>
     $(document).ready(function(){
       $('#usersTable').DataTable();
          });

          function addRowCount(tableAttr) {
  $(tableAttr).each(function(){
    $('th:first-child, thead td:first-child', this).each(function(){
      var tag = $(this).prop('tagName');
      $(this).before('<'+tag+'>#</'+tag+'>');
    });
    $('td:first-child', this).each(function(i){
      $(this).before('<td>'+(i+1)+'</td>');
    });
  });
}

addRowCount('.table'); 

</script> --}}

  
    
  </body>
</html>
